<!DOCTYPE html>
<html lang="en" ng-app="weetley">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Weather online</title>
        <link href="dist/css/main.min.css" rel="stylesheet">
        <link href="src/components/weather-icons/css/weather-icons.css" rel="stylesheet">
        <link href="src/components/font-awesome/css/font-awesome.css" rel="stylesheet">
        <script src="src/components/angular/angular.js"></script>
        <script src="src/components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="dist/js/app.js"></script>
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container" ng-controller="weatherReport" ng-init="init()">
            <section class="tiles">
                <div class="tile-town" ng-repeat="x in townsNames">
                    <div class="remover">
                        <i class="fa fa-times-circle remove-town" ng-click="removeTown(x)"></i>
                    </div>
                    <div class="main">
                        <div class="today">
                            <div class="icon">
                                <i class="{{x.id}}"></i>
                            </div>
                            <div class="info">
                                <h1>{{x.name}}</h1>
                                <span>Temperature: {{x.temp}}</span>
                            </div>
                        </div>
                        <div class="forecast">
                            <i class="{{x.id}}"></i>
                            <h1>{{x.name}}</h1>
                            <span>Temperature: {{x.temp}}</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="action-part">
                <div class="tab-input">
                    <form>
                        <span>Add town to the collection: </span>
                        <input class="input" type="text" autofocus placeholder="e. g. Singapore" ng-model="townToBeAdded" ng-style="required">
                        <input class="submit" type="submit" ng-click="addTown(townToBeAdded)" value="+">
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>
